body{
  background-color: #f0f0f0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

.nav-list{
  display: flex;
  border: solid 1px red;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: red;
}

.nav-menu{
  list-style: none;
}

.nav-list-items{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

